@import '../Reusable/Colors.scss';

.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: $dark-color;
	padding: 12px 8px;

	.logo {
		width: 20%;
		color: $light-color;
	}

	.nav {
		width: 70%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
	}
}