@import '../Reusable/Colors.scss';
@import '../Reusable/Text.scss';

.review {
	width: 80%;

	h1 {
		text-align: center;
		margin: 2rem 0 !important;
	}

	.movieReview {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		.movieButton {
			text-decoration: none;
			color: $light-color;
			border-radius: 2rem;
			margin: 1rem 0;
			padding: 1rem 2rem;
			font-size: $font-size-medium;
			background-color: $main-color;
		}

		.backButton {
			position: absolute;
			left: 2rem;
			top: 6rem;
			color: $light-color;
			cursor: pointer;
		}
	}
}