/*
Color palette to use in this project.
This palette has been created using:
http://colormind.io/bootstrap/
*/

// Main colors
$light-color: #FAF9FA;
$light-accent: #72A5AE;
$main-color: #106042;
$dark-accent: #816864;
$dark-color: #19161E;

// Text colors
$primary-color: #999d96;
$info-color: #393b3b;
$success-color: #63aa65;
$warning-color: #e09a2d;
$danger-color: #f44336;

/* Template
# Dark-on-Light (Main theme)
Background - dark-color
Elements - light-color
Headers - main-color

*/