/*
Color palette to use in this project.
This palette has been created using:
http://colormind.io/bootstrap/
*/

// Main colors
$light-color: #F6F6F4;
$light-accent: #9D9A9E;
$main-color: #807C7C;
$dark-accent: #4C7DCE;
$dark-color: #2B3957;

// Text colors
$primary-color: #999d96;
$info-color: #393b3b;
$success-color: #63aa65;
$warning-color: #e09a2d;
$danger-color: #f44336;