@import '../../Reusable/Colors.scss';

.review {
	width: 80%;

	h1 {
		text-align: center;
		margin: 2rem 0 !important;
	}

	.movieReview {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		.backButton {
			position: absolute;
			left: 2rem;
			top: 6rem;
			color: $light-color;
			cursor: pointer;
		}
	}
}