@import '../Reusable/Colors.scss';
@import '../Reusable/Text.scss';

.movieSearch {
	position: relative;
	border: 1px solid $main-color;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background-color: $light-color;
	width: 100%;

	.movieSearchInput{
		width: 100%;
		border: none;
		border-bottom: 1px solid $main-color;
		height: 4rem;
		font-size: 1.75em;
	}
	.movieSearchInput:hover, .movieSearchInput:focus {outline: 3px solid $main-color}

	.movieDropdownItem {
		display: flex;
		flex-flow: row nowrap;
		padding: 1rem;
		border-bottom: 1px solid $light-accent;
		text-decoration: none;
		color: $dark-color;
		cursor: pointer;

		.movieImage {
			height: 16rem;
		}
		.movieInfo {
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;

			.movieTitle {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				cursor: pointer !important;
				font-size: $font-size-large !important;
			}
			.releaseDate {
				width: 100%;
				text-align: center;
				font-size: 1.5em;
				color: $light-accent;
				cursor: pointer !important;
				font-size: $font-size-small !important;
			}
		}
	}
	.movieDropdownItem:hover {
		background-color: $light-accent;
		cursor: pointer;
		outline: 2px solid $main-color;
	}
	.movieDropdownItem:last-child{
		border-bottom: none;
	}
}