@import '../Reusable/Colors.scss';
@import '../Reusable/Text.scss';

.movieDetails {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: 1rem;
	background-color: $light-color;
	text-decoration: none;
	color: $dark-color;

	.movieImage {
		height: 20rem;
	}

	.movieInformation{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 20rem;
		padding: 0 1rem;

		.movieTitle {
			width: 100%;
			text-align: center;
		}

		.releaseDate {
			width: 100%;
			text-align: center;
			font-size: 1.5em;
			color: $light-accent;
			margin-top: -0.5rem !important;
		}

		.plotDetails {
			padding: 0 1rem;
		}

		.scoreDisplay {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: baseline;
			width: 75%;
			margin-top: auto;

			.scoreContainer {
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;
				margin-bottom: 0;

				.scoreHeader {
					font-size: $font-size-large;
					margin-right: 1rem !important;
				}

				.scoreDetails{
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;

					.starContainer {
						position: relative;
						font-size: $font-size-large;
						margin-bottom: 0;
					}
	
					.scoreText {
						text-align: center;
						font-size: $font-size-medium;
						margin-top: -0.5rem !important;
					}
				}
			}

			.reviewContainer {
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: baseline;
				width: auto;

				.reviewHeader {
					font-size: $font-size-large;
					margin-right: 1rem !important;
				}
				.reviewAmount {
					font-size: $font-size-medium;
				}
			}
		}
	}	
}