@import '../Reusable/Colors.scss';

.popularMovieList {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	div {
		margin-bottom: 2rem;
	}

	div:last-child {
		margin-bottom: 0;
	}

	.movieLink:hover {
		text-decoration: none !important;
		color: $dark-color;
	}
	.movieLink:hover h1, .movieLink:hover p {
		cursor: pointer !important;
	}
}