@import '../Reusable/Colors.scss';

.commentList {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;

	.commentHeader {
		text-align: center;
		margin: 2rem 0 !important;
	}
	.emptyText {
		color: $light-color;
	}
}